

html {
  background-color: #d5e1ef;
}

.container {
  position: absolute;
  width: 288px;
  background-color: white;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 468px;
  padding: 16px;
  padding-bottom: 32px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container img {
  height: 288px;
}

.container > * {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 600;
  color: #1F314F;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;

}

p.second {
  color: #68778d;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
}
